
<head>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<style>
  .glyphicon {
    color: blue;
  }
</style>

<span
  class="glyphicon"
  [ngClass]="{
      'glyphicon-star': isSelected,
      'glyphicon-star-empty': !isSelected
    }"
  (click)="onClick()"
></span>
